# emecom
# ------------------------------------------------------------------------------
# Next.js (VSCode)
# ------------------------------------------------------------------------------
.node_modules/
.next/
.out/
.vscode/
*.log

# ------------------------------------------------------------------------------
# ASP.NET Core (Rider)
# ------------------------------------------------------------------------------
# Build output
bin/
obj/
# User-specific files
*.user
*.suo
*.userprefs
*.ide/
.idea/
*.vs/
# Packages
/packages/
# Publish output
publish/
# Database files
*.mdf
*.ldf
# App settings
appsettings.json
appsettings.*.json

# ------------------------------------------------------------------------------
# General
# ------------------------------------------------------------------------------
*.tmp/
*.temp/
*.DS_Store
*.localized
Thumbs.db

# ------------------------------------------------------------------------------
# Security / Credentials
# ------------------------------------------------------------------------------
.env*
*.secret
*.pfx

# ------------------------------------------------------------------------------
# OS-specific files
# ------------------------------------------------------------------------------
.Trash/
*.lock
*.swp

# ------------------------------------------------------------------------------
# Other
# ------------------------------------------------------------------------------
logs/
temp/
backup/

